html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.buttons {
  position: absolute;
  bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.audio-button {
    width: 170px;
    height: 78px;
    background-color: #C477FF;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 25px;
    cursor: pointer;
    border: none;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
